astroid==2.3.3
beautifulsoup4==4.8.2
certifi==2019.11.28
chardet==3.0.4
colorama==0.4.3
colored==1.4.2
et-xmlfile==1.0.1
Gooey==1.0.3
idna==2.8
isort==4.3.21
jdcal==1.4.1
lazy-object-proxy==1.4.3
mccabe==0.6.1
numpy==1.18.1
openpyxl==3.0.2
Pillow==7.0.0
psutil==5.6.7
pylint==2.4.4
requests==2.22.0
six==1.13.0
soupsieve==1.9.5
typed-ast==1.4.0
urllib3==1.25.7
wincertstore==0.2
wrapt==1.11.2
wxPython==4.0.7.post2
