beautifulsoup4==4.8.2
certifi==2019.11.28
chardet==3.0.4
colored==1.4.2
et-xmlfile==1.0.1
Gooey==1.0.3
idna==2.8
jdcal==1.4.1
numpy==1.18.1
openpyxl==3.0.3
Pillow==7.0.0
psutil==5.6.7
requests==2.22.0
six==1.14.0
soupsieve==1.9.5
urllib3==1.25.7
wincertstore==0.2
wxPython==4.0.7.post2
